.header {
  position: fixed;
  top: 30px;
  left: 0px;
  right: 0px;
  z-index: 100;
  transition: all 0.3s ease 0s;
}
.header__inner {
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 45px;
  align-items: center;
  padding: 0 40px;
}
.header__inner-logo {
  margin-left: 30px;
}
.header__inner-list {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
.header__inner-item {
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.header__inner-item a {
  font-size: 14px;
  color: var(--color-black);
  transition: all 0.3s ease 0s;
}
.header__inner-item a:hover {
  text-decoration: none;
  color: var(--color-pink);
}
.header__inner-bar {
  display: none;
}
.header__inner-bar:hover {
  cursor: pointer;
}
.header__inner-bar:hover i {
  font-size: 30px;
  color: var(--color-black);
  display: none;
}

@media (max-width: 991.98px) {
  .header .header__inner-bar {
    display: block;
  }
  .header .header__inner-list {
    display: none;
  }
}
.section-one {
  background: url(../images/banner-bg.png);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  padding: 80px 0;
}
.section-one__inner {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 45px 0;
}
.section-one__inner-text p:nth-child(1) {
  font-size: 36px;
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 45px;
}
.section-one__inner-text p:nth-child(2) {
  font-size: 15px;
  color: var(--color-white);
  margin-bottom: 25px;
}

@media (max-width: 767.98px) {
  .section-one .section-one__inner-text p:nth-child(1) {
    font-size: 24px;
  }
}
@media (max-width: 575.98px) {
  .section-one .section-one__inner-text p:nth-child(1) {
    font-size: 18px;
  }
}
.section-two {
  position: relative;
}
.section-two__inner-item {
  position: relative;
  top: -190px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  background: var(--color-white);
  margin-bottom: 30px;
}
.section-two__inner-item:hover {
  cursor: pointer;
}
.section-two__inner-item:hover .section-two__inner-image {
  background: var(--color-pink);
}
.section-two__inner-image {
  width: 90px;
  height: 90px;
  background: var(--color-purple);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
  transition: all 0.3s ease 0s;
}
.section-two__inner-title {
  font-size: 18px;
  color: var(--color-black);
  margin-bottom: 15px;
  font-weight: 400;
}
.section-two__inner-desc {
  font-size: 13px;
  color: var(--color-text);
  margin-bottom: 15px;
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .section-two__inner-title {
    font-size: 15px;
  }
  .section-two__inner-desc {
    font-size: 10px;
  }
}
.section-three {
  background: var(--color-white);
  padding: 150px 0;
}
.section-three__image {
  display: flex;
  justify-content: flex-end;
}
.section-three__text p:nth-child(1) {
  font-size: 24px;
  color: var(--color-black);
  margin-bottom: 30px;
}
.section-three__text p:nth-child(2) {
  font-size: 16px;
  color: var(--color-text);
  line-height: 2;
}

@media (max-width: 991.98px) {
  .section-three .inner-image {
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  .section-three__image {
    justify-content: center;
  }
  .section-three__image img {
    margin-bottom: 10px;
  }
  .section-three__text p:nth-child(1) {
    font-size: 18px;
  }
  .section-three__text p:nth-child(2) {
    font-size: 12px;
  }
}
.section-four {
  padding: 90px 0;
  background-image: url(../images/work-process-bg.png);
}
.section-four__head p:nth-child(1) {
  font-size: 28px;
  color: var(--color-white);
  font-weight: bold;
}
.section-four__head p:nth-child(2) {
  font-size: 15px;
  color: var(--color-white);
  margin-bottom: 40px;
}
.section-four__content-item {
  background: var(--color-white);
  padding: 20px;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
  position: relative;
  margin-bottom: 30px;
}
.section-four__content-item::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--color-white);
  position: absolute;
  bottom: -10px;
  left: 0px;
  right: -20px;
  opacity: 0.15;
  margin: auto;
  border-radius: 20px;
}
.section-four__content-item:hover {
  margin-top: -10px;
  cursor: pointer;
}
.section-four__content-item-image {
  margin-bottom: 15px;
}
.section-four__content-item-text p:nth-child(1) {
  font-size: 17px;
  color: var(--color-black);
}
.section-four__content-item-text p:nth-child(2) {
  font-size: 14px;
  color: var(--color-text);
}

@media (max-width: 575.98px) {
  .section-four__head p:nth-child(1) {
    font-size: 24px;
  }
  .section-four__head p:nth-child(2) {
    font-size: 12px;
  }
  .section-four__content-text p:nth-child(1) {
    font-size: 12px;
  }
  .section-four__content-text p:nth-child(2) {
    font-size: 10px;
  }
}
.section-five {
  background: var(--color-white);
  padding: 80px 0;
}
.section-five__head p:nth-child(1) {
  font-size: 28px;
  color: var(--color-black);
  margin-bottom: 20px;
}
.section-five__head p:nth-child(2) {
  font-size: 15px;
  color: var(--color-text);
  margin-bottom: 30px;
}
.section-five__card {
  padding: 25px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  background: var(--color-white);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
}
.section-five__card:hover .section-five__content-text {
  margin-left: 10px;
}
.section-five__image {
  margin-bottom: 25px;
}
.section-five__desc {
  font-size: 15px;
  color: var(--color-text);
  min-height: 120px;
  margin-bottom: 25px;
}
.section-five__content {
  display: flex;
  align-items: center;
}
.section-five__content-icon {
  margin-right: 8px;
}
.section-five__content-icon img {
  border-radius: 50%;
}
.section-five__content-text {
  transition: all 0.3s ease 0s;
}
.section-five__content-text p {
  margin-bottom: 5px;
  margin-left: 8px;
  min-width: 125px;
}
.section-five__content-text p:nth-child(1) {
  font-size: 17px;
  color: var(--color-black);
}
.section-five__content-text p:nth-child(2) {
  font-size: 15px;
  color: var(--color-pink);
}

@media (max-width: 767.98px) {
  .section-five__desc {
    min-height: 0;
  }
}
@media (max-width: 575.98px) {
  .section-five__content-text p:nth-child(1) {
    font-size: 14px;
  }
  .section-five__content-text p:nth-child(2) {
    font-size: 12px;
  }
  .section-five__desc {
    font-size: 14px;
  }
  .section-five__card:hover .section-five__content-text {
    margin-left: 4px;
  }
}
.section-six {
  padding: 80px 0;
  background: var(--color-gray);
}
.section-six__head p:nth-child(1) {
  color: var(--color-black);
  font-size: 28px;
  margin-bottom: 20px;
}
.section-six__head p:nth-child(2) {
  color: var(--color-text);
  font-size: 15px;
  margin-bottom: 30px;
}
.section-six__card {
  background: var(--color-white);
  padding: 30px 0 40px 0;
  border-radius: 20px;
  margin-bottom: 50px;
}
.section-six__title {
  font-size: 17px;
  font-weight: 500;
  color: var(--color-black);
  padding-bottom: 10px;
}
.section-six__price {
  padding: 20px 0 13px 0;
  width: 80%;
  margin: 5px auto 40px auto;
  border-radius: 20px;
  display: inline-block;
}
.section-six__price--purple {
  background: var(--color-purple);
}
.section-six__price--pink {
  background: var(--color-pink);
}
.section-six__price p {
  margin: 0;
  color: var(--color-white);
}
.section-six__price p:nth-child(1) {
  font-size: 28px;
  font-weight: 500;
}
.section-six__price p:nth-child(2) {
  font-size: 14px;
}
.section-six__text {
  color: var(--color-text);
  font-size: 13px;
  line-height: 2 !important;
  margin-bottom: 40px;
}

@media (max-width: 575.98px) {
  .section-six__head p:nth-child(1) {
    font-size: 22px;
  }
  .section-six__head p:nth-child(2) {
    font-size: 12px;
  }
}
.section-seven {
  padding: 60px;
  height: 100%;
  background: url(../images/fun-facts-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  object-fit: cover;
}
.section-seven__item {
  height: 340px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
.section-seven__item:hover {
  margin-top: -20px;
}
.section-seven__text {
  color: var(--color-white);
  position: relative;
}
.section-seven__text p:nth-child(1) {
  font-size: 36px;
  font-weight: 600;
}
.section-seven__text p:nth-child(2) {
  font-size: 17px;
}

@media (max-width: 991.98px) {
  .section-seven__item {
    height: auto;
  }
  .section-seven__item:hover {
    margin-top: 0;
  }
}
@media (max-width: 575.98px) {
  .section-seven__text p:nth-child(1) {
    font-size: 30px;
  }
  .section-seven__text p:nth-child(2) {
    font-size: 15px;
  }
}
.section-eight {
  padding: 80px 0;
  background: var(--color-white);
}
.section-eight__head p:nth-child(1) {
  font-size: 28px;
  font-weight: 500;
  color: var(--color-black);
  margin-bottom: 20px;
}
.section-eight__head p:nth-child(2) {
  font-size: 15px;
  color: var(--color-text);
  margin-bottom: 30px;
}
.section-eight__item {
  margin-bottom: 30px;
}
.section-eight__image {
  overflow: hidden;
  background-size: cover;
  /* height: 200px; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 30px;
  width: 100%;
  aspect-ratio: 370/220;
}
.section-eight__image img {
  background-size: cover;
  width: 100%;
  object-fit: cover;
}
.section-eight__text a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-black);
  transition: all 0.3s ease 0s;
  margin-bottom: 30px;
  display: block;
}
.section-eight__text a:hover {
  color: var(--color-pink);
  text-decoration: none;
}
.section-eight__text p {
  font-size: 13px;
  color: var(--color-text);
  line-height: 2;
}

@media (max-width: 767.98px) {
  .section-eight__image img {
    background-size: cover;
    width: 80%;
  }
}
.section-nine {
  padding: 80px 0;
  background: var(--color-gray);
}
.section-nine__title {
  font-size: 28px;
  color: var(--color-black);
  font-weight: 500;
  margin-bottom: 20px;
}
.section-nine__desc {
  font-size: 15px;
  color: var(--color-text);
  margin-bottom: 30px;
  line-height: 2;
  font-weight: 400;
}
.section-nine__content p:nth-child(1) {
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--color-black);
}
.section-nine__content p:nth-child(2), .section-nine__content p:nth-child(3) {
  font-size: 14px;
  color: var(--color-text);
  margin-bottom: 28px;
  line-height: 2;
}
.section-nine__form {
  padding: 15px 20px;
  outline: none;
  width: 100%;
  border: none;
  resize: none;
  border-radius: 25px;
  margin-bottom: 30px;
  font-size: 12px !important;
}
.section-nine button {
  border: none;
}

.footer {
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
  padding-top: 30px;
}
.footer__socials {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  flex-wrap: wrap;
}
.footer__socials i {
  font-size: 13px;
  width: 36px;
  height: 36px;
  display: flex;
  color: var(--color-purple);
  background: var(--color-white);
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}
.footer__socials i:hover {
  background: var(--color-pink);
  color: var(--color-white);
}
.footer__icon {
  text-decoration: none;
}
.footer__seperate {
  margin: 15px 0;
  border: 0.8px solid #AB7CE1;
}
.footer__desc {
  color: var(--color-white);
  font-size: 12px;
  padding: 20px 0 40px 0;
}

/*# sourceMappingURL=styles.css.map */
